<%- include('./partials/header') %>

<h1>Edit Cohort</h1>

<form method="POST" action="/cohorts/<%= team.id %> ">
    <input type="hidden" name="_method" value="PATCH">
    <div class="form-group">
          <b>Logo URL</b>
          <input type="text" class="form-control" name="logo_url" placeholder="Enter URL" value="<%= team.logo_url %>">
    </div>
    <br>
    <div class="form-group">
          <b>Name</b>
          <textarea class="form-control" name="name" placeholder="Enter Name"><%= team.name %></textarea>
    </div>
    <br>
    <div class="form-group">
          <b>Members</b>
          <textarea class="form-control" name="members"  placeholder="Enter Members"><%= team.members %></textarea>
  </div>
  <br>
  <input type="submit" class="btn btn-outline-success" value="Submit">
</form>

<%- include('./partials/footer') %>


