<%- include("./partials/header") %>

<% for (let team of team_picker) { %>
    <div class="card" style="width: 18erm;"><br>
        <div class="card-body">
            <img src="<%= team.logo_url %>" class="img name" alt="...">
            <h3 class="class-title"><%= team.name %></h3>
            <br>
            <p class="card-text"><%= team.members %></p>
            

            <form action="/cohorts/<%= team.id %>" method="POST">
                <a href="/cohorts/<%= team.id %>" class="btn btn-success b">Show Cohort</a>
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" class="btn btn-danger" value="Delete" />
                <a class="btn button2" href="/cohorts/<%= team.id %>/edit">Edit</a>
            </form>
        </div>
    </div>
    <br>
<% } %>

<%- include("./partials/footer") %>